<!doctype html>
<html amp lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= current_page.data.title || "Middleman" %></title>

  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
