<!doctype html>
<html amp lang="en">
  <head>
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <title><%= current_page.data.title || "Middleman" %></title>
    <link rel="canonical" href="http://amp.josefzacek.com/index.html" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
