---
title: Welcome to AMP
---

<h1>AMP</h1>

<amp-img src="images/accelerated-mobile-pages.png" alt="Welcome" height="400" width="800" layout="responsive"></amp-img>

<p><%= link_to("Read Documentation", "https://www.ampproject.org/", target: "_blank") %></p>
