---
title: Welcome to AMP
---

<h1>AMP</h1>

<amp-img src="images/accelerated-mobile-pages.png" alt="Welcome" height="400" width="800" layout="responsive"></amp-img>

<%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>
